#imgDetailimg{
  width:100%;
  height:auto;
  vertical-align:middle
}

#imgDetail img{
  width:100%;
  height:calc(100vh - 200px);
  min-height:600px;
  max-height:2000px
  }

  #detail{
    vertical-align:middle;
  }
  
h2{
    color: #003F4A;
  }

  #detalle{
    font-size: 15px;
    margin-bottom: 2rem;
  }
  
  h6{
    padding-top: 2rem;
    color: #003F4A;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  #addCart{
    display:flex;
    flex:1 0 auto;
    padding: 7px 35px 20px;
    flex-direction:column;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 20rem;
    height: 4rem;
    color: #ffffff;
    margin-top: 2rem;
    margin-left: 1rem;
    background-color: #003F4A;
}