@import url(//db.onlinewebfonts.com/c/b82329475307e0380dc1ea23f0c35266?family=adineue+PRO);
@import url(//db.onlinewebfonts.com/c/1938eca97ab5576ba37b537143f552ef?family=adineue+PRO);
@import url(//db.onlinewebfonts.com/c/0265b98b68ecf1b3d801b5df4dc155e7?family=icomoon);

$font-primary: 'adineue PRO', sans-serif;
$font-button: 'adineue PRO', bold;
$font-subtitle: 'icomoon', normal;