#count{
    margin-left: 1rem;
}
#mas,
#menos{
    border: none;
    color: #ffffff;
    font-size: 15px;
    width: 25px;
    background-color: #003F4A;
    border: 1px solid #003F4A;
}  

#numero{
    width: 30px;
    color: #003F4A;
    font-size: 15px;
    background-color: #ffffff;
    border: 1px solid #003F4A;
}

#addCart{
    display:flex;
    flex:1 0 auto;
    padding: 7px 35px 20px;
    flex-direction:column;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 20rem;
    height: 4rem;
    color: #ffffff;
    margin-top: 2rem;
    background-color: #003F4A;
}


#addCart:hover{
    color: #ffffff;
    background-color: #007cba;
    border: 1px solid #007cba;
}